.home-container {
  width: 93vw;
  margin: auto;
}
.hero-container img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.paragraf {
  width: 50em;
}
.technical-lists{
  width: 100%;
}
.technical-list{
  width: 25em;
  height: 8em;
}
.technical-list img{
  width: 25em;
  height: 5em;
}
