.navbar-container{
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 7em;
  align-items: center;
  justify-content: center;
}

.navbar-container div{
  padding: 1em;
}

.bg-header {
  background-color: black;
}

.navbar-logo img {
  height: 5.3em;
}