.our-work-mockup {
  background-image: url('../assets//IMG/OurWorkMain.png');
  background-repeat: no-repeat;
}

.ow-empty-box{
  width: 250em;
}

.PhotoCollectionIMG{
  height: 19em;
  width: 32em;
}